<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/weather-icon.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Mirko Luznjanin. It uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="./img/test.png" alt="">
    </div>
    {{>footer}}
</body>
</html>

