<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help page</title>
    <link rel="icon" href="/img/weather-icon.png">
</head>
<link rel="stylesheet" href="./css/styles.css">
<body>
    <div class="main-content">
        {{>header}}
        <p>{{ text }}</p>
    </div>
    {{>footer}}
</body>
</html>