<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather-icon.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <form action="">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>
        <p id="p1"></p>
        <p id="p2"></p>
    </div>
    {{>footer}}
<script src = "/js/app.js"></script>
</body>
</html>
